<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
<title>{{ post.title }}</title> <!-- Как в заголовок страницы вывести post.title?-->

{% load customfilters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название у нас будет products -->
{% block title %}
Публикация
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<h3>{{ post.title|censor }}</h3>
<h5>Дата публикации: {{ post.date_create|date:'d-m-Y h:m' }}</h5>
<hr>
{{ post.text|censor }}
<br><b>Автор: {{ author.user.username }}</b>

<hr><b>Комментарии к посту:</b>
{% for comment in comments %}
    {{ comment.text }}
    <br><b>Дата публикации: {{ comment.date_create|date:'d.m.y' }}</b>
    <hr>
{% endfor %}
{% endblock content %}
