<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
<title>Все новости</title>
{% extends 'flatpages/default.html' %}


{% load customfilters %} <!-- не забываем заранее загружать наши фильтры! -->


<!-- Название у нас будет products -->
{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h5>Текущая дата: {{ time_now|date:'M d Y' }}</h5> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <h5>Всего новостей: {{ posts|length }}</h5><hr>
    {% for post in posts %} <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->
        <h6><b><a class="nav-link" href="/news/{{ post.id }}">{{ post.title|censor }}</a></b></h6> <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т. д.  -->
        <b>Дата публикации: {{ post.date_create|date:'d.m.y' }}</b>
        <br>{{ post.text|truncatechars:50|censor }}
        <hr>
    {% endfor %}
{% endblock content %}